body {
  background: #2a4042;
  color: #fff; }

.navbar {
  border-bottom: #9068be 3px solid; }

.grow:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3); }

#home-section {
  background: url("../img/home.jpg") no-repeat;
  min-height: 700px;
  background-size: cover;
  background-attachment: fixed; }
  #home-section .dark-overlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .card-form {
    opacity: 0.8; }
  #home-section .fa {
    color: #6ed3cf;
    background: #ffffff;
    padding: 4px;
    border-radius: 5px;
    font-size: 30px; }

#about-section .fa {
  color: #9068be;
  background: #333;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

#projects-section .fa {
  color: #6ed3cf;
  background: #ffffff;
  padding: 4px;
  border-radius: 5px;
  font-size: 30px; }

/* #contactModal {
    background-color: $primary-color;
} */
